.container {
  text-align: center;
}
.nav-container {
  text-align: center;
}
.col-6 {
  text-align: center;
}
.container {
  text-align: center;
}

body {
  background-color: powderblue;
}

h1 {
  color: blue
}