@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rubik:wght@600&display=swap');
@font-face {
  font-family: 'FinkHeavy';
  src: url('./font/FinkHeavy.woff2') format('woff2'), url('./font/FinkHeavy.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

div.container{
  padding-top: px;
  font-size: x-large;
}

.container {
  display: grid;
  text-align: center;
  padding: 10px;
  font-family: FinkHeavy;
  font-size: x-large;
  margin-top: 5px;
  border-radius: 5px;
}

/* .nav-container {
  text-align: center;
  font-size: x-large;
}

.navbar-brand {
  color:rgb(227, 227, 227)
} */

.col-6 {
  text-align: center;
  font-size: x-large;
}

body {
  font-family: 'Rubik', sans-serif;
  font-family: 'FinkHeavy';
  font-size: x-large;
  background-color: #c5e8f4;
}

a:link {
  color: rgb(146, 190, 255);
}

h1 {
  font-family: FinkHeavy;
  color: rgb(70, 65, 41);
  font-size: 300%;
  font-weight: bolder;
}

h2 {
  font-family: FinkHeavy;
  font-weight: bolder;
}

/* shweta changes below */

#stepone {
  width: 636px;
}

#aligncheck {
  margin-right: 40px;
}

#istime {
  margin-right: 27px;
}

#turnip_price {
  margin-left: 30px;
}

#tellusmore {
  margin-left: 98px;
  /* margin-bottom: 30px; */
}

#steptwo {
  margin-left: 92px;
  margin-bottom: 60px;
}

#stepthree {
  margin-left: 73px;
}

#stepfour {
  width: 636px;
  margin-left: 10px;
}

#secaligncheck {
  margin-right: 63px;
}

.button {
  background-color: #097AEC;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: FinkHeavy;
  font-size: x-large;
}

#search-btn-bar {
  background-color: #7CB518;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
#login {
  background-color: #7CB518;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

/* .navbar {
  background-color: #342E37;
} 

*/

#user-profile {
  padding-top: 20px;
}

*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  position: relative;
}

nav{
  background: #342E37;
  padding: 5px 20px;
  width: 100%;
  height: 55px;
  box-shadow: 0px 2px 8px 0px #333;
}

.nav-container{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.nav-container>.logo{
  width: 200px;
  height: 65px;
  float: left;
  color: whitesmoke;
}

ul{
  list-style-type: none;
}

a{
  color:white;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.menu li{
  font-size: 16px;
  padding: 15px 5px;
}

.menu li a{
  display:block;
}

.logo a{
  font-size: 25px;
}

.button.secondary{
  border-bottom: 1px #444 solid;
}

/* Mobile Menu */
.menu{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle{

}

.bars{
  background: pink;
  display: inline-block;
  height:2px;
  position: relative;
  width:18px;
}

.bars::before,.bars::after{
  background:pink;
  content:"";
  display: inline-block;
  height: 2px;
  position:absolute;
  width:18px;
}

.searchEntry{
  margin-top: 0.5em; 
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
