@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rubik:wght@600&display=swap');

@font-face {
  font-family: 'FinkHeavy';
  src: url('FinkHeavy.woff2') format('woff2'), url('FinkHeavy.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.container {
  display: grid;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.nav-container {
  text-align: center;
}

.col-6 {
  text-align: center;
}

.container {
  text-align: center;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: powderblue;
}

h1 {
  font-family: FinkHeavy;
  color: rgb(70, 65, 41);
  font-size: 300%;
  font-weight: bolder;
}

h2 {
  font-family: FinkHeavy;
  font-weight: bolder;
}

.container {
  font-family: FinkHeavy;
  font-size: x-large;
}